<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomai.environmentswitcher">

    <application>
        <activity
            android:name=".EnvironmentSwitchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
